<nav class="navbar  bg-body-tertiary" style="margin-bottom: 40px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Movies App</a>
      <div class="d-flex">
        <button id="change-password-btn" class="btn btn-primary">Change Password</button>
        <a href="/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </nav>
  